.buttons {
  display: flex;
  align-items:center;
  height: 100%;}
  .list {
    display: flex;
    height: 100%;
    align-items: center;
    list-style: none;
    margin: 0;
  
  }
  .item{
    height: 100%;
    display: flex;
    align-items: center;
    &:last-child>.decorBorder{
      display: none;
    }
  }
  .btn{
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 100%;
  }

  .decorBorder{
    height: 50%;
    width: 2px;
    background-color: #fff;
  }