.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: .5rem 0;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border: 1px solid rgba(0, 0, 0, 0.671);
  border-radius: 2px;
  background-color: #fff;
  font-size: 14px;
  color: rgb(255, 102, 0);
  cursor: pointer;
 
}

.label {
  margin-left: 10px;
}