@import '../../styles/variables.scss';


.inner {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: auto;
  height: 100%;
}

.title {
  margin-bottom: 1rem;
}

.imgWrap {
  width: 70px;
  height: 70px;
}

.text {
  padding: 20px;
  width: 90%;
  background-color: rgba(128, 128, 128, 0.287);
  border: 2px solid rgba(128, 128, 128, 0.356);
  border-radius: 5px;
  box-shadow: 3px 3px 10px black;

  &Wrap {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
}

.user {
  &Wrapper {
    display: flex;
    position: absolute;
    padding: 5px;
    left: 0;
    bottom: -50px;
    flex-direction: row;
    align-items: flex-end;
  }
  &Info{
    margin-left: 5px;
  }

  &Name {
    margin: 0;
    font-weight: 700;
  }

  &Org {
    font-size: 12px;
    font-weight: 300;
    color: rgba(63, 61, 61, 0.815);
  }
}