.profile-about {
  display: flex;

  &__inner {
    flex: 1 0 60%;
    min-height: 25rem;
    padding: 0 2rem;
  }

  &__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 2rem;
  }

  &__text {
    margin-bottom: 2rem;
  }
}

