@import '../../styles/variables.scss';



.profileAbout {
  display: flex;
  margin-bottom: .75rem;
}

.inner {
  display: block;

  @include lg {
    flex: 1 0 60%;
    padding: 0 2rem;
  }
}


.triangle {
  display: none;

  @include xl {
    display: flex;
    height: 3rem;
    border: 24px solid transparent;
    border-left: 20px solid $news-purple;
  }
}

.title {
  @include visually-hidden();

  @include xl{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: static;
    width: 10rem;
    height: 3rem;
    padding: 0 10px;
    background-color: $news-purple;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
  }
  &Wrapper{
    visibility: hidden;
    @include xl{
      display: flex;
      width:11rem;
      padding: 10px 0;
      height: 4rem;
      position: relative;
      visibility: visible;
    }
  }
}

.infoTitle {
  @include flexCenter();
  @include lg{
    margin:1.5rem
  }
}

#testimonials {
  display: none;

  @include xl {
    display: block;
  }

}
.info {
  @include xl {
    display: grid;
    height: 100%;
    grid-template-columns: 25rem 1fr;
    align-self: stretch;
    column-gap: 1em;
    row-gap: 1em;

    &Title {
      margin-bottom: 1rem;

    }
  }
}


// .triangle {
//   height: 3rem;
//   border: 24px solid transparent;
//   border-left: 20px solid $news-purple;
// }


// .inner {
//   flex: 1 0 60%;
//   padding: 0 2rem;
// }

// .title {
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
//   width: 10rem;
//   height: 3rem;
//   margin-bottom: 2rem;
//   padding: 0 10px;
//   background-color: $news-purple;
//   color: #fff;
//   font-size: 30px;
//   line-height: 30px;
// }




// .block {
// display: flex;
// flex-direction: column;
//  }