@import '../../../styles/variables.scss';

.slider{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: red;
}
.btn{
  display: flex;
  align-items: center;
  width: 2.5rem;
  height: 20px;
  padding: 3px;
  color:#fff;
  background-color: $news-gray;
  border-radius: 3px;
  &Wrap{
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    width: 5.25rem;
    height: 3rem;
    margin-left: auto;
    margin-right: 0;
  }
}