@import '../../../styles/variables.scss';


.auth {
  position: relative;
  height: 100%;
  

  &__inner {
    @include flexCenter;
    height: 100%;
    padding: 0 10px;
    &:active {
      opacity: 0.7;
      cursor: pointer;
    }
  }

  &__btn {
    display: flex;
    color: #ffff;
    text-transform: none;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: initial;
    @include lg{
      font-size: 1rem;
    }
    @include xl{
      font-size: 1.15rem;
    }
  }
}

