@import '../../../styles/variables.scss';

.sign {
  min-width: 100%;
  @include flexCenter();
  flex-direction: column;
  background-color: rgb(4, 26, 66);
  @include xl{
    z-index: 100;
  }
  &__btn{
      @include sm {
      height: 2rem;
    }

    @include flexCenter();
    min-width: 100%;
    color: #ffff;
    text-transform: uppercase;
    background-color: $header-color;

    &:active {
      opacity: 0.9;
    }
  }

  &__orange{
    background-color: rgb(243, 96, 11);
  }


  @include md {
    position: absolute;
    flex-direction: row;
    padding: 0 17px;
    min-width: 10rem;
    height: 5rem;
    background-color: rgb(4, 26, 66);
    right: 0;
    top: 2rem;


    &__btn {
      @include flexCenter();
      min-width: 30%;
      height: 3rem;
      padding: 5px;
      border-radius: 3px;
      color: #ffff;
      background-color: rgb(144, 143, 143);

      &:hover {
        opacity: 0.9;
      }
    }

    &__orange {
      margin-right: 10px;
      background-color: rgb(243, 96, 11);
    }
  }
}

.large{
  width: 100%;
}