.news{
&__inner{
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  max-width: 1200px;
  margin: 0 auto;
  }
}

aside{
  display: flex;
  align-self: flex-start;
  width: 100%;
  padding: 10px;
 }

