@import '../../styles/variables.scss';

.news {
  &__inner {
    display: block;
    @include blockCenter();
    @include container();

    @include lg {
      display: grid;
      grid-template-columns: 20% minmax(100px,1fr);
      gap:10px;
    }
  }
}

.aside {
  display: none;

  @include lg {
    display: flex;
    height: 100%;
    font-size: .75rem;
    font-size: 1rem;

  }
  
}