@import '../../styles/variables.scss';
$img-width:100%;

.article-card {
  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    @include blockCenter();
    font-size: .75rem;
    background-color: rgba(161, 161, 161, 0.596);


    @include md {
      font-size: .9rem;
    }

    @include lg {
      font-size: 1rem;
    }

    @include xl {
      padding: 0;
    }
  }
  

  &__img-wrap {
    width: $img-width;
    height: 20rem;

    @include md {
      height: calc($img-width/16*9);
    }

    @include lg {
      height: calc($img-width/16*9);
    }

    @include xl {
      height: calc($img-width/16*9);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    @include lg {
      object-fit: fill;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem .75rem;
  }

  &__txt {
    display: flex;
    padding: .75rem;
    text-align: left;
    word-break: break-all;

  }
}