@mixin flexible {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth {
  position: relative;
  z-index: 1;
  height: 100%;
  &__inner {
    @include flexible();
    height: 100%;
    padding: 0 10px;
    &:hover{
      opacity: 0.8;
      cursor: pointer;
    }
  }
  

  &__txt {
    display: flex;
    color: #ffff;
    font-weight: 600;
  }


}

.sign {
  position: absolute;
  @include flexible();
  justify-content: space-between;
  align-items: center;
  padding:0 17px;
  min-width: 10rem;
  height: 5rem;
  background-color: rgb(4, 26, 66);
  right: 0;
  top: 65px;

  &__in,
  &__up {
    @include flexible();
    min-width: 30%;
    height: 3rem;
    padding: 5px;
    border-radius: 3px;
    color: #ffff;
    text-transform: uppercase;
    background-color: rgb(163, 161, 161);

    &:hover {
      opacity: 0.9;
    }
  }

  &__up {
    margin-right: 10px;
    background-color: rgb(243, 96, 11);
  }
}