.country{
  &__select{
    width: 70%;
    height: 2rem;
    border: 2px solid rgba(0, 0, 0, 0.376);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.979);
    color: rgba(0, 0, 0, 0.911);
  }

}