.inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.btn {
  color: white;
  font-size: 24px;
  transition: opacity 50ms ease-out 50ms;
  z-index: 100;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}



.show,
.hidden {
  padding: 0 5px;
  margin-left: auto;
  margin-right: 0;
}


@mixin hide {
  width: 0;
  opacity: 0;
  padding: 0;
}

@mixin show {
  width: 100%;
  opacity: 1;
  padding: 5px;
}



.show {
  @include show();
  animation: showing 1s;
}

.hidden {
  @include hide();
  animation: hiding 1s;
}

.initialInputVisibility{
  @include hide()
}




@keyframes showing {
  0% {
    @include hide();
  }

  100% {
    @include show()
  }
}

@keyframes hiding {
  0% {
    @include show()
  }

  100% {
    @include hide()
  }
}