@import '../../styles/variables.scss';

.content{
  display: block;
  white-space: pre-line;
  width: 100%;
  margin:20px 0;
  padding: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.383);
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  resize: none;
  overflow: hidden;
  &:empty:before {
    content: attr(data-placeholder);
    color:rgba(128, 128, 128, 0.787);
  }
   &::placeholder{
     color:$news-gray;
   }
   &:focus{
     outline: 2px solid $news-orange;
     border:none
   }
}