@import '../../styles/variables.scss';

.news-list {
  @include blockCenter();

  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: .3rem;

    @include md {
      gap: .5rem;
    }

    @include xl {
      grid-template-columns: 1fr 1fr;
      gap: .75rem;
    }
  }
}