@import '../../styles/variables.scss';
.news-list {
@include blockCenter();
&__inner{
  @include xl{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: .75rem;
    gap: .75rem;
  }
}
}

