@import '../../styles/variables.scss';


@mixin flexible {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width:320px) {
  
  .header{
    &__wrap{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding:5px 10px;
      background-color: $header-color;
    }
    &__buttons{
      display: none;
    }
    &__logo {
      @include flexible();
      width: 100px;
     }
     &__toggle{
       width: 20px;
       height: 20px;
     }
  }
  
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  height: 5rem;
  min-width: 100%;
  z-index: 1000;

  &__select {
    @include flexible();
    display: none;
  }

  a {
    text-decoration: none;
  }

 
}



@media (max-width:865px) {
  .header {
    height: 4rem;

    &__more {
      display: flex;
    }
  }
  .nav {
    font-size: 14px;
  }
}

@media (max-width:667px) {
  .nav {
    display: none;
  }
}