@import '../../styles/variables.scss';


  .footer {
    width: 100%;
    background-color: $footer-color;
    color: white;
    bottom: 0;

    &Logo {
      display: flex;
      align-items: center;
      font-size: .75rem;  
      padding: 0 .5rem;
      @include md {
        font-size: 1rem;  
      }
      @include lg {
        font-size: 1.25rem;  
      }
      @include xl {
        font-size: 1.5rem;  
      }
    }
  }

  .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin: 0 auto;
    background-color: inherit;
    @include sm {
      width: $screen-sm-min;
    }
    @include md {
      width: $screen-md-min;
    }
    @include lg {
      width: $screen-lg-min;
      height: 6rem;
    }
    @include xl {
      width: $screen-xl-min;
      height: 8rem;
    }
  }


