@import '../../styles/variables.scss';
.profile-page {
  display: flex;

  &__inner {
    @include container();
    @include blockCenter();
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.363);
    @include lg{
      display: grid;
      grid-template-columns: 30% 1fr;
    }
  }
}


