@import '../../styles/variables.scss';
@mixin flexible {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  height: 100%;

  &-wrap {
    @include flexible();
    flex-grow: 1;
  }
}

.item {
  height: 100%;
  padding: 0.3rem 0;
  margin-right: 1.5em;
  line-height: 1.5em;
}

.links {
  @include flexible();
  width: auto;
  height: 100%;
  border-radius: 0.3rem;
  color: white;

  &:hover {
    color: $news-orange
  }

  &:active {
    color: $news-orange;
    opacity: 0.9;
  }

  span {
    text-transform: uppercase;
  }
}