@import '../../styles/variables.scss';


.nav {
  display: flex;
  flex-direction: column;
  @include flexCenter();
  width: 100%;
  font-size: .75rem;
  position: absolute;
  left: 0;
  top: 3rem;

  @include md {
    position: initial;
    width: initial;
    height: 100%;
    flex-shrink: 1;
    font-size: .75rem;
  }

  @include lg {
    font-size: 1rem;
  }

}

.list {
  width: 100%;

  @include md {
    display: flex;
    width: initial;
    height: 100%;
  }

  &:last-child {
    border-bottom: none;
  }
}

.item {
  width: 100%;
  margin: 0;
  padding: 0.1rem;
  background-color: $header-color;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;

  @include sm {
    height: 2rem;
  }

  @include md {
    margin-right: .75rem;
    border: none;
  }

}

.links {
  @include flexCenter();
  width: auto;
  height: 100%;
  border-radius: 0.3rem;


  &:hover {
    color: $news-orange
  }

  &:active {
    color: $news-orange;
    opacity: 0.9;
  }


}

span {
  text-transform: uppercase;
}